<template>
    <div class="container ">
        <VCalendar transparent expanded borderless :initial-page="{ today }" :color="selectedColor" :attributes="attrs"
            :is-dark="true" />
    </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';

const today = new Date();
const year = today.getFullYear();
const month = today.getMonth(); // Los meses van de 0 a 11, así que sumamos 1
const day = today.getDate();

const selectedColor = ref('purple');

const attrs = computed(() => [
    {
        highlight: false,
        dates: [
            today,
            new Date(year, month, 6)
        ],
        popover: {
            label: "Entregar un date",
        }
    },
    {
        highlight: false,
        dates: [
            today,

        ],
        popover: {
            label: "Entregar un date2",
        }
    }
]);
</script>

<style scoped></style>