<template>
    <div class="wrapper">
        <Sidebar></Sidebar>
        <div class="main">
            <Header>
                <template #pag-1>
                    - Actividad
                </template>
            </Header>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12 col-md-4">
                            </div>
                        </div>
                        <section class="act-container">
                            <div class="main-card">
                                <div class="button-create">
                                    <p>nombre de la Actividad</p>
                                    <div class="functionbutton">
                                        <button type="button" class="btn btn-success buttonModal"
                                            @click="showModalEdit"><i class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger buttonModal"
                                            @click="showModalDrop"><i class="fas fa-trash-alt"></i></button>
                                        <button type="button" class="btn btn-primary buttonModal"
                                            @click="showModalFinish">Finalizar</button>
                                    </div>
                                </div>
                                <div class="examples">
                                    <div class="intro">
                                        <p>
                                            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                                            dentro del fetch quedando de la siguiente forma:
                                            fetch(url, {
                                            method: 'POST',
                                            headers: {
                                            'Content-Type': 'application/x-www-form-urlencoded' },
                                            body: formData })
                                        </p>
                                        <p>
                                            fecha
                                        </p>
                                        <p>EStatus</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <ModalEliminar :id="2"  @close-modal="closeModalDrop"/>
    <ModalFinalizar :id="1"  @close-modal="closeModal"/>
    <ModalEditar :id="1" @close-modal="closeModal"/>
</template>

<script setup lang="ts">
import Sidebar from "@/components/Sidebar.vue";
import Header from "@/components/Header.vue";
import ModalEliminar from "@/components/Modals/ModalEliminar.vue";
import ModalFinalizar from "@/components/Modals/ModalFinalizar.vue";
import ModalEditar from "@/components/Modals/ModalEditar.vue";
import { Modal } from "bootstrap";
import { onMounted, ref, type Ref , defineProps} from "vue";
import { onBeforeRouteLeave } from "vue-router";
import router from "@/router";

let modalEditAct: Modal;
let modalDropAct: Modal;
let modalFinishAct: Modal;
const finalizado: boolean = false;


onMounted(async () => {
    modalEditAct = new Modal(document.getElementById('modalEdit') as HTMLElement);
    modalDropAct = new Modal(document.getElementById('modalDrop') as HTMLElement);
    modalFinishAct = new Modal(document.getElementById('modalFinish') as HTMLElement);
})

const showModalDrop = async () => {
    modalDropAct.show();
}
const showModalFinish = async () => {
    modalFinishAct.show();
}
const showModalEdit = async () => {
    modalEditAct.show();
}
const closeModal = async () => {
    modalEditAct.hide();
    modalFinishAct.hide();
}
const closeModalDrop = async () => {
    debugger;
    router.go(-1);
}
onBeforeRouteLeave(async () => {
    modalEditAct.hide();
    modalDropAct.hide();
    modalFinishAct.hide();
})
</script>

<style scoped></style>