<template>
    <div class="wrapper">
        <Sidebar></Sidebar>
        <div class="main">
            <Header>
                <template #pag-1>
                    - Home
                </template>
            </Header>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">
                            Actividades
                        </h3>
                        <div class="row">
                            <div class="col-12 col-md-4">
                            </div>
                        </div>
                        <section class="">
                            <div class="main-card">
                                <div class="button-create">
                                    <div class="button-create-mview col-6">
                                        <button class="btn btn-dark" :class="{ active: currentView === 1 }"
                                            @click="changeView(1)">
                                            <a>Todos</a>
                                            <i class="fas fa-list"></i>
                                        </button>
                                        <button class="btn btn-dark" :class="{ active: currentView === 2 }"
                                            @click="changeView(2)">
                                            <a>Personales</a>
                                            <i class="fas fa-user"></i>
                                        </button>
                                        <button class="btn btn-dark" :class="{ active: currentView === 3 }"
                                            @click="changeView(3)">
                                            <a>Equipos</a>
                                            <i class="fas fa-users"></i>
                                        </button>
                                    </div>
                                    <div class="col-6" style="display: flex; justify-content: end;">
                                        <button class=" btn btn-success" @click="showModal">
                                            <a>Crear</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="main-skills">
                                    <div v-if="currentView === 1" v-for="(task, i) in data" :key="i" class="card">
                                        <router-link :to="{ name: 'actividad', params: { id: task.id } }">
                                            <h3>{{ task.title }}</h3>
                                            <p>Fecha de finalización: <span>{{ task.date }}</span></p>
                                        </router-link>
                                    </div>
                                    <div v-if="currentView === 2" v-for="(task, i) in data" :key="i" class="card">
                                        <router-link :to="{ name: 'actividad', params: { id: task.id } }">
                                            <h3>{{ task.title }}</h3>
                                            <p>Fecha de finalización: <span>{{ task.date }}</span></p>
                                        </router-link>
                                    </div>
                                    <div v-if="currentView === 3" v-for="(task, i) in data" :key="i" class="card">
                                        <router-link :to="{ name: 'actividad', params: { id: task.id } }">
                                            <h3>{{ task.title }}</h3>
                                            <p>Fecha de finalización: <span>{{ task.date }}</span></p>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
        <ModalGen />
    </div>
</template>
<script setup lang="ts">
import Sidebar from "@/components/Sidebar.vue";
import Header from "@/components/Header.vue";
import ModalGen from "@/components/Modals/ModalGeneral.vue";
import { onMounted, ref, type Ref } from "vue";
import { Modal } from "bootstrap";
import TasksData from '@/data/TasksData';

let myModal: Modal;
const currentView = ref(1);
var data = ref([...TasksData]);

onMounted(async () => {
    myModal = new Modal(document.getElementById('modalGen') as HTMLElement);
})
const showModal = async () => {
    myModal.show();
}

const changeView = (viewMode: number) => {
    currentView.value = viewMode;
    switch (viewMode) {
        case 1:
            data.value = [...TasksData];
            break;
        case 2:
            data.value = TasksData.filter(task => task.type !== "Personal");
            break;
        case 3:
            data.value = TasksData.filter(task => task.type !== "Group");
            break;
        default:
            data.value = [...TasksData];
            break;
    }
}

</script>
<style scoped></style>