<template>
    <div class="wrapper">
        <Sidebar></Sidebar>
        <div class="main">
            <Header></Header>
            <main class="content px-3 py-4">
                <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Perfil de usuario</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" src="../assets/img/User.png" alt="">
                </div>
            </div>
        </div>
                <div class="col-xl-8">
                    <div class="card mb-4">
                        <div class="card-header">Información</div>
                            <div class="card-body">
                                <form>
                                    <div class="row gx-3 mb-3">
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="">Nombre</label>
                                            <input class="form-control" id="" type="text" placeholder="" value="nombre">
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputFirstName">Apellidos</label>
                                            <input class="form-control" id="inputFirstName" type="text" placeholder="" value="Apelidos">
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Correo electromico</label>
                                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="" value="name@vue3.com">
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputEmailAddress">Contraseña</label>
                                        <input class="form-control" id="inputEmailAddress" type="password" placeholder="" value="vu3">
                                    </div>
                                    <button class="btn btn-primary" type="button">Guardar</button>
                                </form>
                            </div>
                        </div>
                    </div>
               </div>
            </main>
        </div>
    </div>
</template>

<script setup lang="ts">
import Sidebar from "@/components/Sidebar.vue"
import Header from "@/components/Header.vue"


</script>

<style scoped>
.card{
    background-color:#1c1c1c;
    color: aliceblue;
    box-shadow: 0px 0px 5px 5px rgba(15, 15, 15, 0.15);
}
</style>