<template>
    <div class="wrapper">
        <Sidebar></Sidebar>
        <div class="main">
            <Header>
                <template #pag-1>
                    - Grupos
                </template>
            </Header>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12 col-md-4">
                            </div>
                        </div>
                        <div class="main-card">
                            <div class="button-create">
                                <p>Grupos</p>
                                <div class="functionbutton">
                                    <button class=" btn btn-success" @click="showModal">
                                        <a class="Create"><i class="fas fa-plus-circle"></i></a>
                                    </button>
                                </div>
                            </div>
                            <div class="main-Group">
                                <router-link :to="{ name: 'grupo', params: { nameGroup: 'tilines' } }">
                                    <div class="groupCard">
                                        tilines
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <ModalGroup></ModalGroup>
</template>

<script setup lang="ts">
import Sidebar from "@/components/Sidebar.vue"
import Header from "@/components/Header.vue"
import ModalGroup from "@/components/Modals/ModalGroup.vue"
import { Modal } from "bootstrap";
import { onMounted } from "vue";

let myModal: Modal;

onMounted(async () => {
    myModal = new Modal(document.getElementById('modalGroup') as HTMLElement);
})
const showModal = async () => {
    myModal.show();
}
</script>

<style scoped>
.groupCard {
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    background: rgba(114, 0, 202, 0.58);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    margin: .3rem;
}

.groupCard {
    color: aliceblue;
}

.groupCard:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.groupCard:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.main-Group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}

.tittle {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.tittle a {
    margin: .5rem;
    text-decoration: none;
    color: black;
    transition: color 0.5s, box-shadow 0.5s;
}

.tittle a:hover {
    color: rgb(153, 0, 255);
    font-weight: bold;
}

.button-create {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

.button-create p {
    text-transform: capitalize;
    margin-top: 0;
    font-size: 25px;
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
}

.functionbutton {
    display: flexbox;
    margin-top: 0;
    margin: 1rem;
    padding: 1rem;
}

.functionbutton i {
    width: 5rem;
    color: white;
}
</style>