<template>
    <div class="wrapper">
        <Sidebar></Sidebar>
        <div class="main">
            <Header>
                <template #pag-1>
                    - Grupos
                </template>
                <template #pag-2>
                    - {{ pag }}
                </template>
            </Header>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12 col-md-4">
                            </div>
                        </div>
                        <div class="main-card">
                            <div class="button-create">
                                <div class="button-create-mview col-6">
                                    <button class="btn btn-dark" :class="{ active: currentView === -1 }"
                                        @click="changeView(-1)">
                                        <a>Todos</a>
                                        <i class="fas fa-list"></i>
                                    </button>

                                    <button class="btn btn-dark" :class="{ active: currentView === member }"
                                        @click="changeView(member)" v-for="(member, i) in uniquePersonIDsGroup">
                                        <a>{{ member }}</a>
                                        <i class="fas fa-user"></i>
                                    </button>

                                </div>
                                <div class="col-6" style="display: flex; justify-content: end;">
                                    <button class=" btn btn-success" @click="showModal">
                                        <a>Crear</a>
                                    </button>
                                </div>
                            </div>
                            <div class="main-skills">
                                <div v-if="currentView === -1" v-for="(task, i) in data" :key="i" class="card">
                                    <router-link :to="{ name: 'actividad', params: { id: task.id } }">
                                        <h3>{{ task.title }}</h3>
                                        <p>Fecha de finalización: <span>{{ task.date }}</span></p>
                                    </router-link>
                                </div>
                                <div v-if="currentView > -1" v-for="(task, i) in data" :key="i" class="card">
                                    <router-link :to="{ name: 'actividad', params: { id: task.id } }">
                                        <h3>{{ task.title }}</h3>
                                        <p>Fecha de finalización: <span>{{ task.date }}</span></p>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script setup lang="ts">
import Sidebar from "@/components/Sidebar.vue"
import Header from "@/components/Header.vue"
import { onBeforeMount, onMounted, ref } from "vue";
import TasksData from '@/data/TasksData';
import { Modal } from "bootstrap";
import type { ITask } from "@/interfaces/ITasks";
import { useRoute } from "vue-router";

const currentView = ref(-1);
const data = ref();
let myModal: Modal;
const uniquePersonIDsGroup = ref();
const pag = ref()
const router = useRoute()
pag.value = router.params.nameGroup as string;

onMounted(async () => {
    myModal = new Modal(document.getElementById('modalGen') as HTMLElement);
})

onBeforeMount(async () => {
    data.value = [...TasksData];
    uniquePersonIDsGroup.value = await extractUniquePersonIDs(TasksData);
})

const showModal = async () => {
    myModal.show();
}
const changeView = (viewMode: number) => {
    currentView.value = viewMode;
    switch (viewMode) {
        case -1:
            // Si viewMode es -1, muestra todos los títulos y fechas de todas las tareas
            data.value = [...TasksData];
            break;
        default:
            // Filtra las tareas por el personID que coincida con viewMode y muestra sus títulos y fechas
            data.value = TasksData.filter(task => task.group.personID === viewMode);
            break;
    }
}

async function extractUniquePersonIDs(tasks: ITask[]): Promise<number[]> {
    debugger;
    const uniquePersonIDs = new Set<number>();

    // Itera sobre las tareas y agrega los personID al conjunto si el group id es igual a 2
    tasks.forEach(task => {
        if (task.group.id === 2) {
            uniquePersonIDs.add(task.group.personID);
        }
    });

    // Convierte el conjunto a un array y devuélvelo
    return Array.from(uniquePersonIDs);
}

</script>

<style scoped>
.button-create {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

.button-create p {
    text-transform: capitalize;
    margin-top: 0;
    font-size: 25px;
    margin: 1rem;
    padding: 1rem;
    color: white;
}

.btn {
    margin: 1rem;
    color: white;
}
</style>
function ref(arg0: number) {
throw new Error("Function not implemented.");
}
