<template>
    <div class="container contenedor">
        <img src="../assets/img/logoagendasmart.png" alt="">
        <div class="formulario" style="">
            <form @submit.prevent="login()">
                <h2>Iniciar sesión</h2>
                <div class="imput_contenedor">
                    <input v-model="formUser.email" autocomplete="off" id="email" placeholder="Correo" />
                    <span :style="{ display: errorMessages.email ? 'block' : 'none' }" class="error-message">
                        {{ errorMessages.email }}
                    </span>
                </div>
                <div class="imput_contenedor">
                    <input v-model="formUser.password" placeholder="Contraseña" autocomplete="off" type="password"
                        id="password" />
                    <span :style="{ display: errorMessages.password ? 'block' : 'none' }" class="error-message">
                        {{ errorMessages.password }}
                    </span>
                </div>
                <div class="d-grid ">
                    <button class="button" style="justify-self: center;">
                        Iniciar sesion
                    </button>
                </div>
            </form>
            <div class="resgistrar">
                <p>¿No tienes cuenta?
                    <a>
                        <RouterLink :to="{ name: 'register' }">Crear una cuenta</RouterLink>
                    </a>
                </p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import router from '@/router';
import { useUserStore } from '@/stores/user';
import { ref } from 'vue';
import Swal from 'sweetalert2'

const formUser = ref({
    email: '',
    password: ''
});
const errorMessages = ref({
    email: '',
    password: '',
    user: 'El correo o la contraseña son invalidos.'
});
const userStore = useUserStore()
let error: boolean = false;
let errorEmail: boolean = false;
let errorPassword: boolean = false;

async function login() {
    verificarCampoEmail();
    verificarCampoPassword();

    if (errorEmail == true || errorPassword == true) {
        return
    }
    const userLogin = await userStore.login(formUser.value.email, formUser.value.password)
    if (userLogin.error == false) {
        router.push({ name: 'dashboard', params: {} })
    } else {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: userLogin.message
        })
    }
};
const verificarCampoEmail = () => {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(formUser.value!.email)) {
        errorEmail = true;
        errorMessages.value.email = "Correo electronico invalido.";
    } else {
        errorEmail = false;
        errorMessages.value.email = "";
    }
}
const verificarCampoPassword = () => {
    const passwordLenght = formUser.value!.password.length;
    if (passwordLenght < 8) {
        errorPassword = true;
        errorMessages.value.password = 'La contraseña debe tener al menos 8 caracteres.';
    } else {
        errorPassword = false;
        errorMessages.value.password = "";
    }

}
</script>

<style scoped></style>