<template>
    <div class="wrapper">
        <Sidebar></Sidebar>
        <div class="main">
            <Header></Header>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-12 col-md-4">
                            </div>
                        </div>
                        <div class="main-card">
                            <div class="button-create">
                                <p>Papelera</p>
                                <div class="functionbutton">
                                    <button @click="showModalDrop" type="button" class="btn btn-danger"><i
                                            class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                            <div class="main-skills">
                                <div v-for="(task) in data">
                                    <div class="card">
                                        <h3>{{ task.title }}</h3>
                                        <p>Fecha de finalización: <span>{{ task.date }}</span></p>
                                        <button @click="showModalDrop" type="button" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i></button>
                                    </div>
                                    <ModalEliminar :id="task.id"  @close-modal="closeModal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <ModalEliminar/>
</template>

<script setup lang="ts">
import Sidebar from "@/components/Sidebar.vue"
import Header from "@/components/Header.vue"
import ModalEliminar from "@/components/Modals/ModalEliminar.vue";
import { onMounted, ref, type Ref } from 'vue';
import { onBeforeRouteLeave, useRouter } from 'vue-router';
import { Modal } from "bootstrap";
import TasksData from '@/data/TasksData';

var data = ref([...TasksData]);
let modalDropAct: Modal;
onMounted(async () => {
    modalDropAct = new Modal(document.getElementById('modalDrop') as HTMLElement);
})

const showModalDrop = async () => {
    modalDropAct.show();
}
const closeModal = async () => {
    modalDropAct.hide();
}
onBeforeRouteLeave(async () => {
    modalDropAct.hide();
})

</script>

<style scoped>
.button-create {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button-create p {
    text-transform: capitalize;
    margin-top: 0;
    font-size: 25px;
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
}

.functionbutton {
    display: flexbox;
    margin-top: 0;
    margin: 1rem;
    padding: 1rem;
}

.functionbutton i {
    width: 5rem;
}
</style>