<template>
    <div class="container contenedor">
        <img src="../assets/img/logoagendasmart.png" alt="">
        <div class="formulario" style="">
            <form @submit.prevent="register()">
                <h2>Registrate</h2>
                <div class="imput_contenedor">
                    <input v-model="formUser.name" autocomplete="off" id="name" placeholder="Nombre de Usuario" />
                    <span :style="{ display: errorMessages.name ? 'block' : 'none' }" class="error-message">
                        {{ errorMessages.name }}
                    </span>
                </div>
                <div class="imput_contenedor">
                    <input v-model="formUser.email" autocomplete="off" id="email" placeholder="Correo" />
                    <span :style="{ display: errorMessages.password ? 'block' : 'none' }" class="error-message">
                        {{ errorMessages.email }}
                    </span>
                </div>
                <div class="imput_contenedor">
                    <input v-model="formUser.password" placeholder="Contraseña" autocomplete="off" type="password"
                        id="password" />
                    <span :style="{ display: errorMessages.password ? 'block' : 'none' }" class="error-message">
                        {{ errorMessages.password }}
                    </span>
                </div>
                <div class="d-grid ">
                    <button class="button" style="justify-self: center;">
                        Registrarse
                    </button>
                </div>
            </form>
            <div class="resgistrar">
                <p>¿Ya tienes una cuenta?
                    <a>
                        <RouterLink :to="{ name: 'login' }">Iniciar sesión</RouterLink>
                    </a>
                </p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import router from '@/router';
import { useUserStore } from '@/stores/user';
import AuthService from '@/services/authServices';
import { ref } from 'vue';
import Swal from 'sweetalert2'

const formUser = ref({
    name: '',
    email: '',
    password: ''
});
const errorMessages = ref({
    name: '',
    email: '',
    password: '',
    user: 'El correo o la contraseña son invalidos.'
});
const userStore = useUserStore()
const services = new AuthService;

let error: boolean = false;
let errorEmail: boolean = false;
let errorPassword: boolean = false;
let errorName: boolean = false;

async function register() {
    const data = formUser.value;
    verificarCampoEmail();
    verificarCampoPassword();
    verificarCampoName();
    if (errorEmail == true || errorPassword == true || errorName == true) {
        return;
    }
    const userRegister = await services.register(formUser.value.name, formUser.value.email, formUser.value.password)
    if (userRegister.error == false) {
        router.push({ name: 'login', params: {} })
    } else {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: userRegister.message,
        })
    }
};
const verificarCampoEmail = () => {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!regex.test(formUser.value!.email)) {
        errorEmail = true;
        errorMessages.value.email = "Correo electronico invalido.";
    } else {
        errorEmail = false;
        errorMessages.value.email = "";
    }
}
const verificarCampoPassword = () => {
    const passwordLenght = formUser.value!.password.length;
    if (passwordLenght < 8) {
        errorPassword = true;
        errorMessages.value.password = 'La contraseña debe tener al menos 8 caracteres.';
    } else {
        errorPassword = false;
        errorMessages.value.password = "";
    }

}
const verificarCampoName = () => {
    const name = formUser.value.name;
    const nameLength = name.length;
    if (name === '') {
        errorMessages.value.name = 'El nombre no puede estar vacío.'
        errorName = true;
    } else if (nameLength > 10 || nameLength < 3) {
        errorMessages.value.name = `El nombre solo puede contener hasta 10 letras y ser compuesto por minimo 3 letras.`;
        errorName = true;
    } else {
        errorMessages.value.name = '';
        errorName = false;
    }

}

</script>

<style scoped></style>