<template>
    <!-- Modal -->
    <div class="modal fade" id="modalGroup" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                                type="button" role="tab" aria-controls="tab1" aria-selected="true" @click="changeOption('create')">Crear equipo</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                                type="button" role="tab" aria-controls="tab2" aria-selected="false" @click="changeOption('join')">Unirse a un
                                equipo</button>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="" placeholder="Nombre de equipo">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="" placeholder="Link o codigo de grupo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-if="option == 'join'">Unirse</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-if="option == 'create'">Crear</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


</template>

<script setup lang="ts">
import { ref } from "vue";

const option = ref('create');

const changeOption = (type: string) =>{
    option.value = type;
}

</script>

<style scoped>
.tab-pane {
    padding: 1rem 0 0;
    width: 100%;
    align-items: center;
}

#myTabContent {
    display: flex;
}

.form-control::placeholder {
    text-align: center;
}
</style>