<template>
    <div class="modal fade" id="modalGen" tabindex="-1" aria-labelledby="crearActGeneral" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="crearActGeneral">Crear Actividades</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputActGen1" class="form-label">Nombre de la Actividad</label>
                        <input type="text" class="form-control" id="inputActGen1">
                    </div>
                    <div class="mb-3">
                        <label for="textareaActGen" class="form-label">Descripción</label>
                        <textarea class="form-control" type id="textareaActGen" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="inputActGen2" class="form-label">fecha limite</label>
                        <input type="date" class="form-control" id="inputActGen2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
</script>

<style scoped></style>