<template>
    <div class="modal fade" id="modalDrop" tabindex="-1" aria-labelledby="deleteActGeneral" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteActGeneral">Eliminar Actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Estas seguro de elimnar esta Actividad?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="dropAct($props.id)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import router from '@/router';
import Swal from 'sweetalert2'
import { defineProps } from 'vue';

const props = defineProps({
    id: {
        type: Number,
        required: false
    },
});
const emits = defineEmits(['closeModal']);

async function dropAct(id: number | undefined) {
    if (id != undefined) {
        Swal.fire({
            icon: 'success',
            title: 'Eliminado',
            text: `Actividad eliminada ${id}`
        });
    } else {
        Swal.fire({
            icon: 'success',
            title: 'Eliminado',
            text: "Actividades eliminadas",
        });
    }
    emits('closeModal');
}

</script>

<style scoped></style>