<template>
    <div class="modal fade" id="modalFinish" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Finalizar Actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿estas seguro de haber finalizado esta actividad?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="finishAct($props.id)">finalizado</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import Swal from 'sweetalert2'
import { defineProps } from 'vue';

defineProps({
    id: {
        type: Number,
        required: true
    }
});
const emits = defineEmits(['closeModal']);

async function finishAct(id: number) {
    Swal.fire({
        icon: 'success',
        title: 'Felicidades',
        text: "Actividad finalizada"
    });
    emits('closeModal');
}
</script>

<style scoped></style>