<template>
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre de la Actividad</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                        <textarea class="form-control" type id="exampleFormControlTextarea1" rows="3">njnjn</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">fecha limite</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="fecha 18/09/1880">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="editAct($props.id)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import router from '@/router';
import Swal from 'sweetalert2'
import { defineProps } from 'vue';

defineProps({
    id: {
        type: Number,
        required: true
    }
});

const emits = defineEmits(['closeModal']);

async function editAct(id: number) {
    Swal.fire({
        icon: 'success',
        title: 'Editado',
        text: "Actividad editada"
    });
    emits('closeModal');
}
</script>

<style scoped></style>