<template>
  <Loader/>
  <RouterView></RouterView>
</template>

<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Loader from '@/components/Loader.vue'
</script>

<style scoped></style>